@media screen and (max-width:576px) {

    .navbar,
    .menubar ul,
    .section1_container,
    .section2_container,
    .section3_game,
    .section4_container {
        flex-direction: column;
        gap: 30px;
    }

    .navbar,
    .section2_container,
    .section3_game,
    .section4_container {
        margin: 0 auto;
        padding: 30px 0;
    }

    .logo_text,
    .menubar {
        margin: 0 auto;
    }

    .section1_description {
        padding: 0px;
        padding-top: 30px;
    }

    .description {
        width: 100%;
    }

    .section1_img img,
    .section3_game img {
        width: 100%;
    }

    .section2_description,
    .section4_description {
        text-align: center;
        padding: 10px;
    }

    .section3_game {
        width: 100%;
        text-align: center;
    }


    .section4_description h1,
    .section4_description p {
        text-align: center;
        width: 100%;
    }

    .section4_img {
        padding: 0px;
        text-align: right;
    }

    .sec4_img1 {
        width: 70%;
        margin-right: 20px;
    }


    .sec4_img2 {
        width: 40%;
        position: relative;
        bottom: 100px;
        right: 55%;
    }
}

@media screen and (min-width: 576px) and (max-width:992px) {

    .navbar,
    .section1_container,
    .section2_container,
    .section4_container {
        flex-direction: column;
        gap: 30px;
    }

    .navbar,
    .section2_container {
        margin: 0 auto;
        padding: 30px 0;
    }

    .logo_text,
    .menubar {
        margin: 0 auto;
    }

    .section1_img img {
        width: 100%;
    }

    .section2_description,
    .section4_description {
        text-align: center;
        padding: 30px;
    }

    .section3_game {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        padding: 0;
        text-align: center;

    }

    .section4_description h1,
    .section4_description p {
        text-align: center;
        width: 100%;
    }

    .section4_img {
        padding: 0px;
        text-align: right;
    }

    .sec4_img1 {
        width: 70%;
        margin-right: 20px;
    }


    .sec4_img2 {
        width: 40%;
        position: relative;
        bottom: 140px;
        right: 55%;
    }
}