@media screen and (max-width:576px) {

    .navbar,
    .menubar ul {
        flex-direction: column;
        gap: 30px;
    }

    .navbar {
        margin: 0 auto;
        padding: 30px 0;
    }

    .logo_text,
    .menubar {
        margin: 0 auto;
    }

}

@media screen and (min-width: 576px) and (max-width:992px) {

    .navbar {
        flex-direction: column;
        gap: 30px;
    }

    .navbar {
        margin: 0 auto;
        padding: 30px 0;
    }

    .logo_text,
    .menubar {
        margin: 0 auto;
    }

}