@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

/* start header part */

.header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar {
    padding: 30px 180px 30px 220px;
    display: flex;
    gap: 400px;
    align-items: center;
}

.logo_text {
    display: flex;
    align-items: center;
    gap: 20px;

}

.logo_name {
    font-size: 30px;
    font-weight: 700;
}

.primary_span {
    color: #FF42A5;
}

.menubar ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.menubar ul a {
    text-decoration: none;
}

.menubar ul li {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.menubar ul .follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
}



/* end of header part */

/* main part start */
/* section_01 start */

.section1_container {
    display: flex;
    gap: 60px;
    align-items: center;
    /* padding: 30px 180px 30px 220px; */

}

.section1_description {
    background-image: url('../images/Group\ 14.png');
    background-size: contain;
    padding: 155px 200px;
}

.description p {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.description h1 {
    font-size: 90px;
    font-weight: 800;
    color: #F948B2;
}

.description ul li {
    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}

.description ul li i {
    padding-right: 10px;
}

.btn1 {
    padding: 20px 35px;
    border: 0px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}

.btn2 {
    padding: 20px 35px;
    border: 0px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.section1_img img {
    width: 80%;
}

/* section_01 end */